.students-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
    gap: 10px;
}

.name {
    background-color: rgb(0, 174, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 1.5rem;
    width: 80%;
    margin-left: 36px;
}
.email {
    background-color: rgb(0, 174, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    padding: 6px;
    width: 90%;
    margin-left: 16px;
}
.phone {
    background-color: rgb(0, 174, 255);
    color: rgb(0, 0, 0);
    border-radius: 0 0 5px 5px;
    margin-bottom: 15px;
    font-weight: bold;
    padding: 6px;
    width: 90%;
    margin-left: 16px;
}

.cards {
    width: 24%;
    height: 360px;
    background-image: linear-gradient(
  10deg,
  hsl(236deg 94% 20%) 0%,
  hsl(244deg 57% 29%) 11%,
  hsl(247deg 43% 36%) 22%,
  hsl(247deg 33% 44%) 33%,
  hsl(247deg 27% 51%) 44%,
  hsl(246deg 29% 59%) 56%,
  hsl(245deg 32% 67%) 67%,
  hsl(244deg 36% 75%) 78%,
  hsl(243deg 43% 83%) 89%,
  hsl(242deg 62% 91%) 100%
);
    border-radius: 10px;
}

.info {
    width: 80%;
    height: 15%;
    background-color: rgb(0, 174, 255);
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-left: 36px;
    border-radius: 5px
}

.info:hover {
    background-color: #adfafd;
    color: rgb(47, 42, 42);
    cursor: pointer;
}
